@font-face {
    font-family: 'Esqadero';
    src: url('esqadero_ff_cy_4f-regular.eot');
    src: url('esqadero_ff_cy_4f-regular.eot?#iefix') format('embedded-opentype'),
         url('esqadero_ff_cy_4f-regular.woff') format('woff'),
         url('esqadero_ff_cy_4f-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}